body {
  font-family: Montserrat-Arabic !important;
  position: relative;
  direction: rtl;
  text-align: right;
}

@font-face {
  font-family: Montserrat-Arabic;
  src: url("../css/Montserrat-Arabic-Regular.ttf");
}

body::-webkit-scrollbar {
  width: 9px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #eee;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #cccccc6e;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #cccccc6e;
  /* creates padding around scroll thumb */
}

::selection {
  background-color: var(--sub-color);
  color: #fff;
}

/* custom */
:root {
  --main-color: #11367a;
  --sub-color: #2563EB;
  --bg-color: #F0EEF1;
  --font-color: #777;
}


button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}
.loading {display: none;}
.loader-spin {
  position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--sub-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.line-height {line-height: 1.7em;}
.text-lg {font-size: large;}
.text-m {font-size: medium;}
.text-sm {font-size: small;}
.text-xs {font-size: x-small;}
.text-color {color: var(--main-color);}
.sub-color {color: var(--sub-color);}
/* end custom */
/* navbar */
.navbar {
  padding: 5px 0;
  background-color: #fff;
  transition: all .3s ease-in-out;
}
.navbar .nav-link:hover {color: var(--sub-color);}
.navbar .nav-link {
  font-size: 16px;
  color: #333;
  margin: 0px 10px;
  transition: all .3s ease-in-out;
}

.navbar .navbar-brand img {
  width: 70px;
}
.navbar .contact_us {
  background: var(--sub-color);
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px 11px;
}
/* header */
header {
  position: relative;
  background-image: url('../images/map3.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
header::before {
  background-color: #11367abe;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    backdrop-filter: blur(8px);
}
header .app_img {display: flex;}
.app_links img {
  width: auto;
  max-height: 47px;
  border-radius: 10px;
}
header .app_img img {width: 100%;}
/* about */
.about .track li {
  display: inline-block;margin-left: 10px;
}
.about .track li img {width: auto;max-height: 60px;object-fit: cover;}
/* services */
.services {
  position: relative;
  background-image: url('../images/map2.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.services::before {
    background-color: #11367a6c;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    backdrop-filter: blur(8px);
}
.service_card {border-radius: 7px;position: relative;}
.service_card .icon img {
  width: auto;
  max-height: 65px;
  object-fit: contain;
}
.service_card h5 {margin: 20px 0;}
/* services */
/* footer */
footer {
  background-color: var(--bg-color);
}
footer .logo img {
  width: auto;
  max-height: 60px;
  margin-bottom: 20px;
}
footer .footer_links {margin-top: 20px;}
footer .footer_links a {
  display: block;
}
footer .footer_links,footer b {padding-inline: 20px;}
footer .footer_links a {margin: 10px 0;}
footer ul li {
  display: flex;
  align-items: center;
}
footer .social a {
  background-color: #fff;
    color: var(--sub-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    line-height: 2.1em;
    transition: all .3s ease-in-out;
}
footer .social a:hover {background-color: var(--sub-color);color: #fff;}
/* scrollUp */
.scrollUp {
  position: fixed;
  bottom: 40px;
  right: 45px;
  z-index: 777;
  display: none;
}
.scrollUp i {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  padding: 10px 13px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 40px;
}
/* terms */
.terms p {color: #777;}
.terms .term_card i {font-size: 25px;color: var(--sub-color);}
.terms .term_card {transition: all .3s ease-in-out;height: 95%;}
@media(width <= 820px) {
  .navbar .contact_us {
    margin-block: 10px;
    display: inline-block;
  }
  
h2 {font-size: 29px;}
.social {margin: 20px 0;}
.navbar .navbar-brand img {
  width: 35px;
  margin: 0 20px;
}
}
@media(width <= 567px) {
  .about .track ul {display: flex;}
  .about .track li img {max-height: 40px;}
}